@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Akshar', sans-serif;
    background-color: #000000;
    display: grid;
    place-items: center;
    height: 65vh;
}

.s-input {
    outline: none;
    background: none;
    border-bottom-color: none;
    border-top-color: none;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.border-top {
   display:flex;
   height: 0.15cm;
   background-color: #fff;
   transition: 2000ms;
}

.border-bottom {
    display: flex;
    height: 0.15cm;
    background-color: #fff;
    transition: 2000ms;
}

.s-input:focus + .border-bottom,
.s-input:active + .border-bottom {
    background-color: #950ecf;
  transition: 2000ms;

}

.s-input:focus + .border-top,
.s-input:active + border-top {
   background-color: #950ecf;
  transition: 2000ms 
}
a {
  color: #333;
}
a:visited {
  color: #636;
}
a:hover, a:active, a:focus {
  color:#c33;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}